* {
    touch-action: manipulation;
}

body {
    overscroll-behavior-y: contain;
}

.metal {
    color: lightslategray !important;
}

.crystal {
    color: skyblue !important;
}

.deuterium {
    color: lightseagreen !important;
}

.flex-row {
    display: flex !important;
    flex-direction: row !important;
}

.flex-column {
    display: flex !important;
    flex-direction: column !important;
}

.clear {
    clear: both;
}

.hidden {
    display: none;
}

.margin-center {
    margin: 0 auto;
}

.flex-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.flex-item {
    width: 100%;
    display: flex;
}

.fullwidth {
    width: 100%;
}

.selector-item, .trader-item {
    width: 100%;
    margin-top: 16px;
}

.selector-item > div, .trader-item > div {
}

.selector-item .inline, .trader-item .inline  {
    display: inline;
}

.selector-item .ship-label, .trader-item .ship-label {
    display: flex;
    justify-content: center;
    align-items: end;
}

.selector-item .flex-row, .trader-item .flex-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.selector-item .flex-row .text-info, .trader-item .flex-row .text-info, .flex-row .selector-item .flex-row .img, .flex-row .trader-item .flex-row .img {
    align-self: flex-end;
}

.selector-item .flex-row span.text-info, .trader-item .flex-row span.text-info {
    max-width: 0.3rem;
    overflow: visible;
    z-index: 999999;
    margin-bottom: -8px;
}

.selector-item .flex-row span.img-overlap, .trader-item .flex-row span.img-overlap {
    position: absolute;
    left: 48px;
}

.selector-item .flex-row button, .trader-item .flex-row button {
    height: var(--image-width);
    width: var(--image-width);
    margin-top: 0;
    margin-right: 2px;
}

.mini-techs-table-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: .625rem;
}

.trader-item span.text-info {
    margin: auto auto auto 0;
}

.research-lab .container-fluid {
    max-height: 48px;
}

.research-lab .row {
    justify-content: flex-end;
    align-items: center;
}

.research-lab span.text-info {
    margin: auto auto 0 0;
    align-self: flex-end;
}

.research-lab button {
    height: 48px;
    width: 48px;
}

#holder .one-third {
    width: 33%;
}

#holder {
    margin: 10px;
    background-color: #000;
    position: relative;
    font-family: 'Press Start 2P', cursive;
}

#holder > div {
    background-color: #000;
    color: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 4px 6px;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
}

#holder p {
    font-size: 10px;
    color: #0e90d2;
}

#holder h3 {
    margin-bottom: 10px;
}

.tbl-ships small{
    font-size: 7px;
    color: #99f;
}

.tbl-ships > tbody > tr > td {
    width: 8.3%;
    text-align: center;
    min-width: 76px;
}

.tbl-ships td .name {
    margin: 0 auto;
    display: block;
    height: 26px;
    vertical-align: middle;
    clear: both;
    font-size: 8px;
}

.tbl-ships td img {
    display: block;
    margin: 0 auto 6px;
    clear: both;
}

.tbl-ships td span {
    text-align: center;
    padding-bottom: 4px;
    display: inline-block;
    font-size: 8px;
}

.tbl-ships td small {
    display: block;
    clear: both;
    font-size: 7px;
}

.mini-buttons {
    width: 54px;
    margin: 0 auto;
}

#holder .mini-buttons button {
    width: 26px;
    height: 16px;
    line-height: 16px;
    font-size: 8px;
    padding: 0;
    margin-top: 1px;
    margin-right: 0;
    text-align: center;
}

#holder .tbl-ships-space .mini-buttons button {
    width: 53px;
}

.tbl-resources {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 8px;
}

.tbl-resources.fleet-status {
    flex-direction: column;
}

.tbl-resources.fleet-status > div {
    display: flex;
    justify-content: space-between;
}

.tbl-resources th {
    text-align: left;
    width: 50%;
    line-height: 20px;
}

.tbl-resources td {
    color: #dbb500;
    text-align: left;
    line-height: 20px;
}

.tbl-resources .yellow-text {
    color: #dbb500;
    text-align: left;
    line-height: 20px;
}

.half {
    width: 50%;
    margin: 0;
    padding: 0;
}

.tbl-active-ships {
    width: 100%;
}

.tbl-active-ships .ship-name-amount {
    max-width: calc(100% - 48px);
    display: flex;
    flex-direction: column;
}

.tbl-active-ships .img-container {
    margin: 0 0 0 auto;
}

.tbl-active-ships span {
    font-size: 8px;
}

.pull-right .ship-item {
    justify-content: flex-start;
}

.ship-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ship-item .ship-desc {
    margin: auto auto auto 0;
    align-self: center;
}

.resource-fleet {
    height: 14px;
    display: inline-block;
    width: 60px;
    color: #000;
}

#holder button {
    border: 1px solid #3d3d3d;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    padding: 6px 8px;
    background-color: #000;
    margin-top: 8px;
    margin-right: 6px;
}

#holder button:hover {
    background-color: #adadad;
}

#holder .action-red {
    margin-top: 8px;
    border: 0 none;
    color: #fff;
    background-color: red;
}

#holder .action-red:hover {
    background-color: #edb800;
}

.techs-nav {
    top: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
}

.techs-nav > div {
    width: 48px;
}

.current_capacity {
    color: #73cafd;
}

.slow_down {
    color: #8A2BE2;
}

#time-events {
    background-color: #edd;
    box-sizing: border-box;
    font-size: 8px;
    height: 48px;
    overflow: auto;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0;
}

.space-map-container {
    position: relative;
    height: 145px;
    overflow: hidden;
}

.space-map {
    background-color: #061a54;
    border: 0 none;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Press Start 2P", cursive;
    font-size: 14px;
    line-height: 1.45;
    margin: 0;
    position: absolute;
    height: 400px;
    padding: 1px 2px;

}

#fleet, .planet {
    position: absolute;
    top: 63px;
    left: 2px;
}

#fleet, .space-map span {
    font-family: "Press Start 2P", cursive;
}

.bottom-menu {
    width: 100%;
}

.bottom-menu span {
    display: inline-block;
    top: 5px;
    position: relative;
    padding-right: 5px;
}

#holder .one-fourth {
    width: 25%;
}

#holder .one-fifth {
    width: 20%;
}

.market-resources {
    display: flex;
    width: auto;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
}

.market-resources > div {
    display: flex;
    flex-direction: column;
}

.market-resources .resource-img {
    align-self: center;
}

.market-resources > tbody > tr > td {
    width: 33%;
    text-align: center;
}

.mid-buttons {
    margin: 0 auto;
    font-size: 8px;
    width: 80px;
    text-align: center
}

#holder .mid-buttons button {
    font-size: 8px;
    height: 20px;
    line-height: 17px;
    padding: 2px 6px;
}

.event-resources {
    margin: 0 auto;
    text-align: center;
}

.event-resources li {
    display: inline-block;
    text-align: center;
    list-style: none;
    margin: 0 7px;
    padding: 0;
    font-size: 12px;
}

.event-resources li.hidden-item {
    display: none;
}

.mini-techs-table {
    width: 100%;
    text-align: center;
    clear: both;
    margin-bottom: 10px;
    margin-top: 10px;
}

.mini-techs-table tr td {
    font-size: 9px;
    line-height: 20px;
}
