#gamepad-item.hidden {
    display: none;
}
#gamepad-item {
    position: absolute;
    z-index: 999999999;
    width: calc(100vw - 64px);
    height: calc(100vh - 48px);
}

#gamepad-item button {
    background-color: black;
    border: 1px solid #999;
    display: block;
    position: fixed;
    height: 32px;
    width: 32px;
}

#gamepad-item button.pressed {
    border: 1px solid;
}

#A {
    color: #5c8a00;
    bottom: 0;
    right: 32px;
    border-radius: 50%;
}

#B {
    color: #993333;
    bottom: 32px;
    right: 0px;
    border-radius: 50%;
}

#X {
    color: #0e90d2;
    bottom: 32px;
    right: 64px;
    border-radius: 50%;
}

#Y {
    color: #dbb320;
    bottom: 64px;
    right: 32px;
    border-radius: 50%;
}

#UP {
    color: #fafafa;
    background: black;
    width: 0;
    height: 0;
    left: 32px;
    bottom: 64px;
}

#DOWN {
    color: #fafafa;
    background: black;
    width: 0;
    height: 0;
    left: 32px;
    bottom: 0;
}

#LEFT {
    color: #fafafa;
    background: black;
    width: 0;
    height: 0;
    left: 0;
    bottom: 32px;
}

#RIGHT {
    color: #fafafa;
    background: black;
    width: 0;
    height: 0;
    left: 64px;
    bottom: 32px;
}
