:root {
    --image-width: 48px;
    --total-height: 6000px;
    --total-width: 4000px;
    --img_lg-size: 200px;
    --img_md-size: 100px;
    --img_sm-size: 80px;
    --img_xs-size: 32px;
    --scale: calc(var(--image-width) / var(--img_lg-size));
}

.img {
    background-image: url('../sprites/spritesheet.jpg');
    background-repeat: no-repeat;
    background-size: calc(var(--total-width) * .24) calc(var(--total-height) * .24);
    height: var(--image-width);
    width: var(--image-width);
}

.tech.img.xs {
    --sc: calc(var(--img_xs-size) / var(--img_lg-size));
    --width_scaled: 640px;
    --height_scaled: 960px;
    background-size: var(--width_scaled) var(--height_scaled);
    background-position-y: calc(var(--img_xs-size) * -20);
    height: var(--img_xs-size);
    width: var(--img_xs-size);
}

.tech.img.xs.combustion-drive {
    background-position-x: calc(var(--img_xs-size) * -5);
}

.tech.img.xs.impulse-drive {
    background-position-x: calc(var(--img_xs-size) * -6);
}

.tech.img.xs.hyperspace-drive {
    background-position-x: calc(var(--img_xs-size) * -7);
}

.tech.img.xs.astrophysics {
    background-position-x: calc(var(--img_xs-size) * -10);
}

.tech.img.xs.armour-tech {
    background-position-x: calc(var(--img_xs-size) * -13);
}

.tech.img.xs.weapons-tech {
    background-position-x: calc(var(--img_xs-size) * -14);
}

.tech.img.xs.shield-tech {
    background-position-x: calc(var(--img_xs-size) * -15);
}

.resource-img {
    background-image: url('../sprites/resource-sprites.png');
    background-repeat: no-repeat;
    height: var(--img_sm-size);
    width: var(--img_sm-size);
}

.resource-img.small {
    height: var(--img_xs-size);
    width: var(--image-width);
    background-position-y: calc(var(--img_sm-size) * -2);
}

.resource-img.crystal {
    background-position-x: calc(var(--img_sm-size) * -1);
}

.resource-img.deuterium {
    background-position-x: calc(var(--img_sm-size) * -2);
}

.resource-img.dark-matter {
    background-position-x: calc(var(--img_sm-size) * -4);
}

.resource-img.crystal.small {
    background-position-x: calc(var(--image-width) * -1);
}

.resource-img.deuterium.small {
    background-position-x: calc(var(--image-width) * -2);
}

.resource-img.dark-matter.small {
    background-position-x: calc(var(--image-width) * -4);
}

.img .small {
    background-size: calc(var(--total-width) * .1) calc(var(--total-height) * .1);
    height: 20px;
    width: 20px;
}

.ships, .defense {
    display: inline-flex;
}

.ships {
    background-position-y: calc(var(--image-width) * -15);
}

.defense {
    background-position-y: calc(var(--image-width) * -10);
}

.tech {
    background-position-y: calc(var(--image-width) * -20);
}

.light-fighter, .rocket-launcher, .energy-tech {
    background-position-x: 0;
}

.heavy-fighter, .light-laser, .laser-tech {
    background-position-x: calc(var(--image-width) * -1);
}

.cruiser, .heavy-laser, .ion-tech {
    background-position-x: calc(var(--image-width) * -2);
}

.battleship, .gauss-cannon, .hyperspace-tech {
    background-position-x: calc(var(--image-width) * -3);
}

.battlecruiser, .ion-cannon, .plasma-tech {
    background-position-x: calc(var(--image-width) * -4);
}

.bomber, .plasma-turret, .combustion-drive {
    background-position-x: calc(var(--image-width) * -5);
}

.destroyer, .small-shield-dome, .impulse-drive {
    background-position-x: calc(var(--image-width) * -6);
}

.death-star, .large-shield-dome, .hyperspace-drive {
    background-position-x: calc(var(--image-width) * -7);
}

.small-cargo, .defense-missile, .espionage-tech {
    background-position-x: calc(var(--image-width) * -8);
}

.large-cargo, .interplanetary-missile, .computer-tech {
    background-position-x: calc(var(--image-width) * -9);
}

.colony-ship, .astrophysics {
    background-position-x: calc(var(--image-width) * -10);
}

.recycler, .intergalactic-research-lab {
    background-position-x: calc(var(--image-width) * -11);
}

.espionage-probe, .graviton-tech {
    background-position-x: calc(var(--image-width) * -12);
}

.solar-satellite, .armour-tech {
    background-position-x: calc(var(--image-width) * -13);
}

.crawler, .weapons-tech {
    background-position-x: calc(var(--image-width) * -14);
}

.pathfinder, .shield-tech {
    background-position-x: calc(var(--image-width) * -15);
}

.reaper {
    background-position-x: calc(var(--image-width) * -16);
}

.ships.super-destroyer {
    background-image: url('../sprites/220.gif');
    background-size: var(--image-width) var(--image-width);
    background-repeat: no-repeat;
    background-position-y: 0;
}
.ships.super-destroyer.small {
     background-size: var(--img_xs-size) var(--img_xs-size);
 }

.ships.lune-noire {
    background-image: url('../sprites/216.gif');
    background-size: var(--image-width) var(--image-width);
    background-repeat: no-repeat;
    background-position-y: 0;
}
.ships.lune-noire.small {
    background-size: var(--img_xs-size) var(--img_xs-size);
}

.ships.aurora {
    background-image: url('../sprites/219.gif');
    background-size: var(--image-width) var(--image-width);
    background-repeat: no-repeat;
    background-position-y: 0;
}
.ships.aurora.small {
    background-size: var(--img_xs-size) var(--img_xs-size);
}

.ships.star-destroyer {
    background-image: url('../sprites/218.gif');
    background-size: var(--image-width) var(--image-width);
    background-repeat: no-repeat;
    background-position-y: 0;
}
.ships.star-destroyer.small {
    background-size: var(--img_xs-size) var(--img_xs-size);
}
